@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

/* font-family: 'Barlow Semi Condensed', sans-serif; */


*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

h1
{
    font-weight: 600;
    color: #fff;
    font-size: 1.25rem;
}

h4{
    font-weight: 500;
    color: hsl(0, 0%, 81%);
}
p
{
    font-size: 0.9rem;
    color: hsl(0, 0%, 81%,0.5);
}

img
{
    max-width: 100%;
    max-height: 100%;
}

body
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: hsl(210, 46%, 95%);
}

main
{
    width: 86%;
    max-width: 1100px;
    margin: 5% auto;
}
.testimonial
{   

    display: grid;
    gap: 1.5rem;
}

article
{
    padding: 2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.card-1
{
    background-color: hsl(263, 55%, 52%);
    background-image: url(images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top 0 right 5vw;
}

.card-2
{
    background-color:hsl(217, 19%, 35%) ;
}

.card-3
{
    background-color:hsl(0, 0%, 100%) ;
    
}

.card-3 h1,.card-5 h1,.card-3 h4,.card-5 h4
{
    color: hsl(217, 19%, 35%);
}
.card-3 p,.card-5 p
{
    color: hsl(217, 19%, 35%,0.5);
}

.card-4
{
    background-color: hsl(219, 29%, 14%);
}

.card-5
{
    background-color:hsl(0, 0%, 100%) ;
}

blockquote
{
    color: hsla(0, 0%, 81%,0.7);
}

.card-3 blockquote,.card-5 blockquote
{
    color: hsl(217, 19%, 35%,0.7);
}

.head
{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.pfp
{
    border-radius: 50%;
    width: 13%;
    
}

@media (min-width:768px)
{
    main
    {
        width: 90%;
        
    }
    .testimonial
    {
        grid-template-columns: repeat(2,1fr);
        
    }
    .card-1{
        grid-column: span 2;
    }
    .card-4{
        
        grid-column: span 2;
    }
    .card-5{
        grid-column: span 2;
    }

    .pfp
    {
        width: 40px;
    }
}

@media (min-width:1000px)
{   
    main
    {
        width: 90%;
        
    }
    .testimonial
    {
        grid-template-columns: repeat(4,1fr);
        
    }
    .card-1{
        grid-column:1/ span 2;
        grid-row: 1/2;
    }
    .card-4{
        
        grid-column:2/ span 2;
        grid-row: 2/3;
    }
    .card-5{
        grid-column: 4/5;
        grid-row: 1/3;
    }

    .pfp
    {
        width: 50px;
    }
}








